<!-- Faq Section -->
<section
	id="faq" class="faq section">

	<!-- Section Title -->
	<div class="container section-title" data-aos="fade-up">
		<h2>F.A.Q</h2>
		<p>Questions fréquemment posées</p>
	</div>
	<!-- End Section Title -->

	<div class="container">

		<div class="row">

			<div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">

				<div class="faq-container">

					<div class="faq-item faq-active">
						<h3>Faites-vous de la vente de matériel informatique et/ou des prestations en boutique physique ?</h3>
						<div class="faq-content">
							<p>Non, nous ne faisons pas de vente de matériel informatique, et nos prestations s’effectuent uniquement au domicile des clients ou à distance via un logiciel de téléassistance informatique.</p>
						</div>
						<i class="faq-toggle bi bi-chevron-right"></i>
					</div>
					<!-- End Faq item-->

					<div class="faq-item">
						<h3>Le coût du déplacement d’un informaticien à domicile est-il inclus dans les tarifs ?</h3>
						<div class="faq-content">
							<p>Le coût du déplacement d’un technicien informatique à votre domicile ou sur votre lieu de travail est inclus dans les tarifs mentionnés sur notre site web dans la limite d’un périmètre de 15 kilomètres au départ de notre société implantée à Ébersviller 57320. Au-delà de ce périmètre, le déplacement d’un informaticien à votre domicile ou sur votre lieu de travail fera l’objet d’un coût supplémentaire de 1 € par kilomètre supplémentaire parcouru.</p>
						</div>
						<i class="faq-toggle bi bi-chevron-right"></i>
					</div>
					<!-- End Faq item-->

					<div class="faq-item">
						<h3>Quelle est la zone d’intervention éligible aux interventions à domicile ?</h3>
						<div class="faq-content">
							<p>Nous intervenons au domicile des clients ou sur leur lieu de travail uniquement sur certaines villes du département des P O dans le sud de la France.</p>
						</div>
						<i class="faq-toggle bi bi-chevron-right"></i>
					</div>
					<!-- End Faq item-->

				</div>

			</div>
			<!-- End Faq Column-->

			<div class="col-lg-6" data-aos="fade-up" data-aos-delay="200">

				<div class="faq-container">

					<div class="faq-item">
						<h3>Quel sont les moyens de paiement disponibles ?</h3>
						<div class="faq-content">
							<p>Les interventions à domicile sont payables en espèces ou par carte bancaire via un terminal de paiement à la fin de l‘intervention. Les services informatiques à distance et les forfaits de maintenance de sites WordPress sont payables sur commande par carte bancaire via la passerelle de paiement Stripe.
																
																Certaines prestations web comme la refonte ou la conception d’un site Internet WordPress sont payables sur devis/facture par carte bancaire via la passerelle de paiement Stripe ou par virement bancaire.</p>
						</div>
						<i class="faq-toggle bi bi-chevron-right"></i>
					</div>
					<!-- End Faq item-->

					<div class="faq-item">
						<h3>Quels sont les délais des interventions informatiques ?</h3>
						<div class="faq-content">
							<p>Les interventions informatiques à domicile et à distance sont généralement effectuées sous 24 heures à 48 heures, suivant le planning de rendez-vous en cours.</p>
						</div>
						<i class="faq-toggle bi bi-chevron-right"></i>
					</div>
					<!-- End Faq item-->

					<div class="faq-item">
						<h3>La prise en main à distance de mon PC est-elle entièrement sécurisée ?</h3>
						<div class="faq-content">
							<p>La connexion distante effectuée sur votre ordinateur est entièrement sécurisée et cryptée avec le logiciel de téléassistance AnyDesk qui bénéficie des normes de sécurité les plus élevées.</p>
						</div>
						<i class="faq-toggle bi bi-chevron-right"></i>
					</div>
					<!-- End Faq item-->

				</div>

			</div>
			<!-- End Faq Column-->

		</div>

	</div>

</section>
<!-- /Faq Section -->
