<!-- Services Section -->
<section
	id="services" class="services section">

	<!-- Section Title -->
	<div class="container section-title" data-aos="fade-up">
		<h2>Services</h2>
		<p>Consultez nos services<br></p>
	</div>
	<!-- End Section Title -->

	<div class="container">

		<div class="row gy-4">

			<div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
				<div class="service-item item-cyan position-relative">
					<i class="bi bi-activity icon"></i>
					<h3>Assistance informatique à domicile</h3>
					<p>Déplacement du technicien à domicile.
																		Diagnostic complet de votre système.
																		Sauvegarde de vos données personnelles.
																		Formatage ou reformatage de votre disque dur.
																		Réinstallation de votre système d’exploitation et de l’ensemble des pilotes nécessaires à votre système et à ses périphériques.
																		Réinstallation de vos logiciels.
																		Configuration de votre connexion internet.
																		Transfert de vos données personnelles.
																		Contrôle du bon fonctionnement de votre système, après installation.
																		Rédaction d’un rapport complet suite à l’intervention réalisée.</p>
					<a href="#" class="read-more stretched-link">
					
						<i class="bi bi-arrow-right"></i>
					</a>
				</div>
			</div>
			<!-- End Service Item -->

			<div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
				<div class="service-item item-orange position-relative">
					<i class="bi bi-broadcast icon"></i>
					<h3>Maintenance informatique à domicile</h3>
					<p>Au préalable, établissement du contrat de maintenance.
																								Déplacement du technicien à domicile.
																								Contrôle externe de votre installation : état général des différents équipements et de la connectique, vérification des branchements.
																								Vérification de l’état de santé du disque dur / SSD.
																								Dépoussiérage de votre équipement : refroidisseurs, grilles de ventilation, ventilateurs…
																								Vérification du bon fonctionnement de votre système.
																								Nettoyage, mise à jour et optimisation de votre système d’exploitation.
																								Mise à jour de vos principaux logiciels,
																								Contrôle de la sécurité de votre équipement : validité et mise à niveau des protections anti-virales, anti-spywares et pare-feu.
																								Sauvegarde de vos données personnelles sur un support externe : disque dur, CD Rom ou DVD.
																								Edition d’un rapport détaillé de chaque intervention.
					</p>
					<a href="#" class="read-more stretched-link">
					
						<i class="bi bi-arrow-right"></i>
					</a>
				</div>
			</div>
			<!-- End Service Item -->

			<div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
				<div class="service-item item-teal position-relative">
					<i class="bi bi-easel icon"></i>
					<h3>Sauvegarde / Restauration de données informatiques</h3>
					<p>Déplacement du technicien à domicile.
																														Vérification et préparation de votre partition principale (jusqu’à 160 Go).
																														Création de l’image disque sur une partition réservée de votre système.
																														Contrôle de l’image disque réalisée.
																														Rédaction d’un rapport final d’intervention (sur demande).</p>
					<a href="#" class="read-more stretched-link">
					
						<i class="bi bi-arrow-right"></i>
					</a>
				</div>
			</div>
			<!-- End Service Item -->

			<div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="400">
				<div class="service-item item-red position-relative">
					<i class="bi bi-bounding-box-circles icon"></i>
					<h3>
						Récupération de données informatiques</h3>
					<p>Déplacement du technicien à votre domicile.
																																				Diagnostic de la perte de données avec étude du support et identification du type de problème rencontré (crash disque, dysfonctionnement électrique ou autre).
																																				Choix de la solution de récupération et établissement d’un devis détaillé de la prestation.
																																				Envoi du support et suivi des opérations effectuées par le sous-traitant.
																																				Retour des fichiers récupérés et transfert sur votre poste de travail.
																																				Rapport détaillé de l’intervention.</p>
					<a href="#" class="read-more stretched-link">
					
						<i class="bi bi-arrow-right"></i>
					</a>
				</div>
			</div>
			<!-- End Service Item -->

			<div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="500">
				<div class="service-item item-indigo position-relative">
					<i class="bi bi-calendar4-week icon"></i>
					<h3>Conseil informatique à domicile</h3>
					<p>Réseau domestique (1h)
												Détermination de la solution réseau privé la mieux adaptée à vos besoins. Prise en compte des contraintes existantes (disposition de vos pièces, type de construction, tâches réseau demandées), type et nombre d’équipements à connecter (ordinateurs, box, téléphone, télévision). Avantages et inconvénients des différents types de réseaux actuels : réseau filaire, wifi, courants porteurs…Choix des éléments nécessaires à la création de votre réseau : modem, routeur, switch, câblage…</p>
					<a href="#" class="read-more stretched-link">
					
						<i class="bi bi-arrow-right"></i>
					</a>
				</div>
			</div>
			<!-- End Service Item -->

			<div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="600">
				<div class="service-item item-pink position-relative">
					<i class="bi bi-chat-square-text icon"></i>
					<h3>Désinfection virus (malware)</h3>
					<p>Analyse et suppression des vers (worm), robots (bot/botnet), cheval de Troie (trojan), logiciel publicitaire (adware), rançongiciel (ransomware), logiciel espion (spyware), rootkit, etc.</p>
					<a href="#" class="read-more stretched-link">
					
						<i class="bi bi-arrow-right"></i>
					</a>
				</div>
			</div>
			<!-- End Service Item -->

		</div>

	</div>

</section>
<!-- /Services Section -->
