{% extends 'base.html.twig' %}

{% block body %}  
{% include('home/partials/header.html.twig') %}
<body>

<div class="container mt-5">
<div class="card">
        <div class="card-header">
        <h1 class="mb-4">Stock de Pièces</h1>
        <a href="{{ path('admin_catalogue')}}" class="btn btn-success mb-3">Retour</a>
        <h2>Entrées</h2>
        <div class="card-body">
                
                
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Nom de la Pièce</th>
                    <th>Quantité</th>
                    <th>Date</th>
                </tr>
            </thead>
            <tbody>
                {# {% for entree in entrees %} #}
                    <tr>
                        <td> entree.nom </td>
                        <td> entree.quantite </td>
                        <td> entree.date|date('d/m/Y') </td>
                    </tr>
                {# {% endfor %} #}
            </tbody>
        </table>

        <h2>Sorties</h2>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Nom de la Pièce</th>
                    <th>Quantité</th>
                    <th>Date</th>
                </tr>
            </thead>
            <tbody>
                {# {% for sortie in sorties %} #}
                    <tr>
                        <td> sortie.nom </td>
                        <td> sortie.quantite </td>
                        <td> sortie.date|date('d/m/Y') </td>
                    </tr>
                {# {% endfor %} #}
            </tbody>
        </table>
       </div>
        </div>
    </div>





{% endblock %}